header {
  position: relative;
  z-index: 1;
  
  
  .wrapper {
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 0 1rem #88868683;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}
